    <!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="static/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="Digital Synergy">
		<!-- Meta Description -->
		<meta name="description" content="Welcome to El Restaurante's Website">
		<!-- Meta Keyword -->
		<meta name="keywords" content="food, mexican, restaurant">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>El Restaurante</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="static/css/linearicons.css">
			<link rel="stylesheet" href="static/css/font-awesome.min.css">
			<link rel="stylesheet" href="static/css/bootstrap.css">
			<link rel="stylesheet" href="static/css/magnific-popup.css">
			<link rel="stylesheet" href="static/css/jquery-ui.css">
			<link rel="stylesheet" href="static/css/nice-select.css">
			<link rel="stylesheet" href="static/css/animate.min.css">
			<link rel="stylesheet" href="static/css/owl.carousel.css">
			<link rel="stylesheet" href="static/css/main.css">
		</head>
		<body>	
			<header id="header">
				<div class="header-top">
					<div class="container">
				  		<div class="row justify-content-center">
						      <div id="logo">
						        <a href="home"><img src="static/img/logo.png" alt="" title="" /></a>
						      </div>
				  		</div>			  					
					</div>
				</div>
				<div class="container main-menu">
					<div class="row align-items-center justify-content-center d-flex">			
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="home">Home</a></li>
				          <li><a href="aboutus">About</a></li>
				          <li><a href="menu">Menu</a></li>
				          <li><a href="gallery">Gallery</a></li>
				          <li><a href="myaccount">My Account</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->
	  
			<!-- start banner Area -->
			<section class="relative about-banner">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								My Account			
							</h1>	
							<p class="text-white link-nav"><a href="home">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="myaccount"> My Account</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start Login/Customer area -->
            <section class="contact-page-area section-gap">
			<div class="container">
                <form action="" method="post" novalidate>
                {% if current_user.is_authenticated %}
                    <!-- admin dashboard -->
                    {% if current_user.typeaccount == 1 %}
                        <p class="row align-items-center">
                        <p>
                            <p class="row align-items-center">
                            <p>
                                <h1>Admin Dashboard</h1><br>
                                <div class="text-capitalize"><h2>Welcome {{ current_user.username }}!</h2></div>
                            </p>
                            <p>
                                <h4>Add Menu Item:</h4>
                            </p>
                            <div>
                            {{ formMenu.csrf_token }}
                            {{ formMenu.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formMenu.title(class_="single-input", placeholder="Title") }}
                                </div>
                                {% for error in formMenu.title.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formMenu.description(class_="single-input", placeholder="Description") }}
                                </div>
                                {% for error in formMenu.description.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                                        {{ formMenu.price(class_="single-input", placeholder="Price")}}
                                    </div>
                                {% for error in formMenu.price.errors %}
                                 <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                            {% endfor %}
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-cutlery" aria-hidden="true"></i></div>
                                <div class="form-select" id="default-select">
                                    {{ formMenu.choice }}
                                </div>
                            </div>
                            {% for error in formMenu.choice.errors %}
                                 <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                            {% endfor %}
                            <div class='mt-10'>
                                {{ formMenu.addsubmit(class_="genric-btn primary radius") }}
                            </div>
                            {% if MenuMessageB %}
                                 <div class='mt-10'><span style="color: red;">[{{ MenuMessageB }}]</span></div>
                            {% endif %}
                            {% if MenuMessageG %}
                                 <div class='mt-10'><span style="color: blue;">[{{ MenuMessageG }}]</span></div>
                            {% endif %}
                        </p>
                        <p>
                            <h4>Remove a Menu Item:</h4>
                            </p>
                            <div>
                            {{ formRemoveItem.csrf_token }}
                            {{ formRemoveItem.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formRemoveItem.removeItemTitle(class_="single-input", placeholder="Title of Item to Remove") }}
                                </div>
                                {% for error in formRemoveItem.removeItemTitle.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formRemoveItem.removeItemButton(class_="genric-btn primary radius") }}
                                </div>
                                {% if RemoveMessageB %}
                                    <div class='mt-10'><span style="color: red;">[{{ RemoveMessageB }}]</span></div>
                                {% endif %}
                                {% if RemoveMessageG %}
                                    <div class='mt-10'><span style="color: blue;">[{{ RemoveMessageG }}]</span></div>
                                {% endif %}
                            </p>
                        </p>
                        <p>
                            <h4>Make a User an Admin:</h4>
                            </p>
                            <div>
                            {{ formAdmin.csrf_token }}
                            {{ formAdmin.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formAdmin.returnUsernameAdmin(class_="single-input", placeholder="Username of Account") }}
                                </div>
                                {% for error in formAdmin.returnUsernameAdmin.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formAdmin.returnButtonAdmin(class_="genric-btn primary radius") }}
                                </div>
                                {% if AdminMessageB %}
                                    <div class='mt-10'><span style="color: red;">[{{ AdminMessageB }}]</span></div>
                                {% endif %}
                                {% if AdminMessageG %}
                                    <div class='mt-10'><span style="color: blue;">[{{ AdminMessageG }}]</span></div>
                                {% endif %}
                            </p>
                        </p>
                        <p>
                            <h4>Delete An Account:</h4>
                            </p>
                            <div>
                            {{ formDelete.csrf_token }}
                            {{ formDelete.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formDelete.returnUsernameDelete(class_="single-input", placeholder="Username of Account") }}
                                </div>
                                {% for error in formDelete.returnUsernameDelete.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formDelete.returnButtonDelete(class_="genric-btn primary radius") }}
                                </div>
                                {% if DeleteMessageB %}
                                    <div class='mt-10'><span style="color: red;">[{{ DeleteMessageB }}]</span></div>
                                {% endif %}
                                {% if DeleteMessageG %}
                                    <div class='mt-10'><span style="color: blue;">[{{ DeleteMessageG }}]</span></div>
                                {% endif %}
                            </p>
                        </p>
                        <p>
                            <h4>Add a Giftcard:</h4>
                            </p>
                            <div>
                            {{ formAddGiftcard.csrf_token }}
                            {{ formAddGiftcard.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formAddGiftcard.giftCardNumber(class_="single-input", placeholder="Gift Card Number") }}
                                </div>
                                {% for error in formAddGiftcard.giftCardNumber.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                                    <div class="form-select" id="default-select">
                                        {{ formAddGiftcard.giftCardAmount }}
                                    </div>
                                </div>
                                {% for error in formAddGiftcard.giftCardAmount.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formAddGiftcard.addGiftCard(class_="genric-btn primary radius") }}
                                </div>
                                {% if AddMessageB %}
                                    <div class='mt-10'><span style="color: red;">[{{ AddMessageB }}]</span></div>
                                {% endif %}
                                {% if AddMessageG %}
                                    <div class='mt-10'><span style="color: blue;">[{{ AddMessageG }}]</span></div>
                                {% endif %}
                            </p>
                        </p>
                        </form>
                        <form method="POST" enctype="multipart/form-data">
                        <p>
                            <h4>Add a Gallery Image:</h4>
                            </p>
                            <div>
                            {{ formAddImage.csrf_token }}
                            {{ formAddImage.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formAddImage.galleryImage(class_="") }}
                                </div>
                                {% for error in formAddImage.galleryImage.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-cutlery" aria-hidden="true"></i></div>
                                    <div class="form-select" id="default-select">
                                        {{ formAddImage.galleryLocation }}
                                    </div>
                                </div>
                                {% for error in formAddImage.galleryLocation.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formAddImage.galleryButton(class_="genric-btn primary radius") }}
                                </div>
                                {% if ImageMessageB %}
                                    <div class='mt-10'><span style="color: red;">[{{ ImageMessageB }}]</span></div>
                                {% endif %}
                                {% if ImageMessageG %}
                                    <div class='mt-10'><span style="color: blue;">[{{ ImageMessageG }}]</span></div>
                                {% endif %}
                            </p>
                        </p>
                        </form>
                        <form action="" method="post" novalidate>
                        <p>
                            <h4>Remove a Gallery Image:</h4>
                            </p>
                            <div>
                            {{ formRemoveImage.csrf_token }}
                            {{ formRemoveImage.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formRemoveImage.imageName(class_="single-input", placeholder="File Name to Remove") }}
                                </div>
                                {% for error in formRemoveImage.imageName.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formRemoveImage.removeImageButton(class_="genric-btn primary radius") }}
                                </div>
                                {% if RImageMessageB %}
                                    <div class='mt-10'><span style="color: red;">[{{ RImageMessageB }}]</span></div>
                                {% endif %}
                                {% if RImageMessageG %}
                                    <div class='mt-10'><span style="color: blue;">[{{ RImageMessageG }}]</span></div>
                                {% endif %}
                            </p>
                        </p>
                        </form>
                    </div><br>
                            <a href="logout" class="genric-btn primary radius">Logout From Website</a>
                        </p>
                    </p>
                    <!-- normal user dashboard -->
                    {% else %}
                        <p class="row align-items-center">
                        <p>
                            <p class="row align-items-center">
                            <p>
                                <h1>User Dashboard</h1>
                            </p>
                            <p>
                                <div class="text-capitalize"><h2>Welcome {{ current_user.username }}!</h2></div><br>
                            </p>
                            <p>
                                <h3>Account Balance: ${{ current_user.accountbalance }}</h3><br>
                            </p>
                            <p>
                                <h4>Redeem a Giftcard:</h4>
                            </p>
                            <div>
                                {{ formAddBalance.csrf_token }}
                                {{ formAddBalance.hidden_tag() }}
                            <p>
                                <div class='mt-10'>
                                    {{ formAddBalance.balanceNumber(class_="single-input", placeholder="Gift Card Number") }}
                                </div>
                                {% for error in formAddBalance.balanceNumber.errors %}
                                    <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                                {% endfor %}
                                <div class='mt-10'>
                                    {{ formAddBalance.addBalanceButton(class_="genric-btn primary radius") }}
                                </div>
                                {% if BalanceMessageB %}
                                    <div class='mt-10'><span style="color: red;">[{{ BalanceMessageB }}]</span></div>
                                {% endif %}
                                {% if BalanceMessageG %}
                                    <div class='mt-10'><span style="color: blue;">[{{ BalanceMessageG }}]</span></div>
                                {% endif %}
                            <br>
                            </p>
                                <a href="logout" class="genric-btn primary radius">Logout From Website</a>
                            </p>
                        </p>
                        </p>
                        </p>
                    {% endif %}
                <!-- no logged in user -->
                {% else %}
                <br>
                <p class="row align-items-center">
                    <p>
                        <h2>User Login:</h2>
                    </p>
                    <div>
                        {{ formLogin.csrf_token }}
                        {{ formLogin.hidden_tag() }}
                        <p>
                            <div class='mt-10'>
                                {{ formLogin.loginusername(class_="single-input", placeholder="Username") }}
                            </div>
                            {% for error in formLogin.loginusername.errors %}
                                 <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                            {% endfor %}
                            <div class='mt-10'>
                                {{ formLogin.loginpassword(class_="single-input", placeholder="Password") }}
                            </div>
                            {% for error in formLogin.loginpassword.errors %}
                                 <div class='mt-10'><span style="color: red;">[{{ error }}]</span></div>
                            {% endfor %}
                            <div class="mt-10">
                                {{ formLogin.loginsubmit(class_="genric-btn primary radius") }}
                            </div>
                            {% if loginError %}
                                <div class='mt-10'><span style="color: red;">[{{ loginError }}]</span></div>
                            {% endif %}
                        </p>
                    </div>
                    <div>
                        <h4>Don't Have An Account?</h4><br>
                        <a href="createaccount" class="genric-btn primary radius">Create Account</a>
                    </div>
            {% endif %}
            </div>
			</section>
            <!-- End Login/Customer area -->

			<!-- start footer Area -->		
			<footer class="footer-area">
				<div class="footer-widget-wrap">
					<div class="container">
					  <div class="row section-gap">
							<div class="col-lg-6  col-md-6 col-sm-6">
								<div class="single-footer-widget">
									<h4>Opening Hours</h4>
									<ul class="hr-list">
										<li class="d-flex justify-content-between">
											<span>Monday - Thursday</span> <span>10:30 AM - 8:00 PM</span>
										</li>
										<li class="d-flex justify-content-between">
											<span>Friday - Saturday</span> <span>10:30 AM - 11:00 PM</span>
										</li>
										<li class="d-flex justify-content-between">
											<span>Sunday</span> <span>11:00 AM - 6:00 PM</span>
										</li>																				
									</ul>
								</div>
							</div>
							<div class="col-lg-6  col-md-6 col-sm-6">
								<div class="single-footer-widget">
									<h4><center>Contact Us</center></h4>
									<center><p>
										1234 Main Street<br> Omaha NE, 68111
									</p></center>
									<p class="number">
										<center>Restaurant: <em>1-402-123-4567</em></center>
										<center>Management: <em>1-402-987-6543</em></center>
									</p>
								</div>
							</div>						

						</div>					
					</div>					
				</div>
				<div class="footer-bottom-wrap">
					<div class="container">
						<div class="row footer-bottom d-flex justify-content-between align-items-center">
							<p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						</div>						
					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="static/js/popper.min.js"></script>
			<script src="static/js/vendor/bootstrap.min.js"></script>
 			<script src="static/js/jquery-ui.js"></script>
  			<script src="static/js/easing.min.js"></script>
			<script src="static/js/hoverIntent.js"></script>
			<script src="static/js/superfish.min.js"></script>
			<script src="static/js/jquery.ajaxchimp.min.js"></script>
			<script src="static/js/jquery.magnific-popup.min.js"></script>
			<script src="static/js/jquery.nice-select.min.js"></script>
			<script src="static/js/owl.carousel.min.js"></script>
            <script src="static/js/isotope.pkgd.min.js"></script>
			<script src="static/js/mail-script.js"></script>
			<script src="static/js/main.js"></script>
		</body>
	</html>